<p>Bonjour <%= @invoice.student.name %>,</p>
<p>Veuillez trouver ci-joint la facture relative aux derniers cours réservés au sein de notre assocation.</p>
<p>Nous vous demandons de la régler dès que possible.</p>
<p>En cas d'empêchement, n'hésitez pas à nous contacter.</p>
<p>Nous restons disponibles pour toute demande d'informations.</p>
<p>Nous vous souhaitons de passer une agréable journée.</p>
<p>Cordialement,<br /> L’équipe Azerteach</p>