<!-- Begin page heading -->
<h1 class="page-heading">Edit <%= @singular %> <small>Edit <%= @singular %> into the database</small></h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li><a href="/admin"><i class="fa fa-home"></i></a></li>
	<li><a href="/admin/<%= @model_name.pluralize.underscore %>"><%= @model_name.pluralize %></a></li>
	<li class="active">Edit</li>
</ol>
<!-- End breadcrumb -->

<%%= render :partial => 'form' %>