<h1 class="page-heading">Modifier</h1>

<ol class="breadcrumb default square rsaquo sm">
	<li><a href="/admin"><i class="fa fa-home"></i></a></li>
	<li><a href="/admin/students">Elèves</a></li>
	<li class="active">Modifier</li>
</ol>

<%= render :partial => 'form' %>
