<h1 class="page-heading">BONJOUR <small>hihihi hahaha</small></h1>

<p>Je suis admin/dashboard/index.html.erb</p>

<p>Tu peux générer des pages d'admin pour un modèle via : $ rails g admin model_name field1 field2 field3</p>