<h1 class="page-heading">Modifier</h1>

<ol class="breadcrumb default square rsaquo sm">
	<li><a href="/admin"><i class="fa fa-home"></i></a></li>
	<li><a href="/admin/lessons">Réservations</a></li>
	<li class="active">Modifier</li>
</ol>

<!--<% unless @lesson.invoice.present? %>
	<a class="btn btn-info btn-perspective" href="<%= new_admin_invoice_path(student_id: @lesson.student.id) %>" style="margin-bottom: 30px"><i class="fa fa-plus"></i> Nouvelle facture</a>
<% end %>

<% if @lesson.invoice.present? &&  %>
	<a class="btn btn-info btn-perspective" href="<%= edit_admin_invoice_path(@lesson.invoice) %>" style="margin-bottom: 30px"><i class="fa fa-pencil"></i> Modifier la facture</a>
	<% if @lesson.invoice.sending_date.nil? %>
		<a class="btn btn-primary btn-perspective" href="<%=  admin_send_invoice_path(@lesson.invoice.id) %>" style="margin-bottom: 30px"><i class="fa fa-envelope-o"></i> Envoyer la facture</a>
	<% elsif @lesson.invoice.sending_date.present? && @lesson.invoice_status != "paid" %>
		<a class="btn btn-primary btn-perspective" href="#" style="margin-bottom: 30px"><i class="fa fa-envelope-o"></i> Envoyer un rappel</a>
	<% end %>
<% end %>-->

<%= render :partial => 'form' %>
