<!-- Begin page heading -->
<h1 class="page-heading">Nouvelle note de frais</h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li><a href="/admin"><i class="fa fa-home"></i></a></li>
	<li><a href="/admin/expense_exports">Notes de frais</a></li>
	<li class="active">Nouveau</li>
</ol>
<!-- End breadcrumb -->

<%= render :partial => 'form' %>