<p>Bonjour <%= @expense_export.teacher.name %>,</p>
<p>Veuillez trouver ci-joint la note de frais relative aux derniers cours que vous avez donnés au sein de notre assocation.</p>
<p>Nous restons disponibles pour toute demande d'informations</p>
<p>Nous vous souhaitons de passer une agréable journée.</p>
<p>Cordialement,<br /> L’équipe Azerteach</p>