<!-- Begin page heading -->
<h1 class="page-heading">Nouveau type de cours</h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li><a href="/admin"><i class="fa fa-home"></i></a></li>
	<li><a href="/admin/products">Types de cours</a></li>
	<li class="active">Nouveau</li>
</ol>
<!-- End breadcrumb -->

<%= render :partial => 'form' %>