html {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}


.student-infos {
  position:relative;
  float:right;
}

header {
  padding-bottom: 100px;
}

footer {
  padding-top: 20px;
}

#lessons {
    border-collapse: collapse;
    width: 100%;
}

#lessons td, #lessons th {
    border: 1px solid #ddd;
    padding: 8px;
}

#lessons tr:nth-child(even){background-color: #f2f2f2;}

#lessons tr:hover {background-color: #ddd;}

#lessons th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}