<!-- Begin page heading -->
<h1 class="page-heading">Modifier</h1>
<!-- End page heading -->

<!-- Begin breadcrumb -->
<ol class="breadcrumb default square rsaquo sm">
	<li><a href="/admin"><i class="fa fa-home"></i></a></li>
	<li><a href="/admin/users">Administrateurs</a></li>
	<li class="active">Modifier</li>
</ol>
<!-- End breadcrumb -->

<%= render :partial => 'form' %>