<div class="the-box">
  <div class="form-group">
    <label>Rue :</label>
    <%= f.text_field :street, :class => "form-control" %>
  </div>
  <div class="form-group">
    <label>Numéro :</label>
    <%= f.text_field :street_number, :class => "form-control" %>
  </div>
  <div class="form-group">
    <label>Code postal :</label>
    <%= f.text_field :zipcode, :class => "form-control" %>
  </div>
  <div class="form-group">
    <label>Localité :</label>
    <%= f.text_field :city, :class => "form-control" %>
  </div>
</div>